/*@font-face {
font-family:"myriad-bengali";
src:url("https://use.typekit.net/af/3ad132/0000000000000000773594ac/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3ad132/0000000000000000773594ac/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3ad132/0000000000000000773594ac/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}
*/
body {
    font-family: "myriad-bengali", "adobe-bengali", serif;
    font-weight: 400;
    font-size: 12pt;
}
